body {

/*	The old fuscia color*/
/*	background-color: #990073;*/

	background-color: #333333;
	padding: 0;
	margin: 0px;

/*	border: 2px solid black;*/
}

#Nav {

/*	With the Fuscia background:  */
/*	background-color: #4d0039; */

	background-color: black;
	height: 50px;
	margin: 20px -20px 0 -20px;
	padding: 0px;

/*	MAYBE bring this back?
	box-shadow: 0px 10px 50px black;*/
}

#APLogo {

	color: White;
	font-size: 40px;
	margin: 0px 5px 0px 40px;
	display: inline-block;
	font-family: harrington ;

/*	Delete this after div is right*/

/*	border: 2px solid black;*/
}

table, th, td {

	border: 2px solid black;

}

th {

	background-color: #4d004d;
	width: 2000px;
}

#Test1 {

	background-color: #d9d9d9;
	border-radius: 10px;
	margin: 10px 20px 10px 20px;
	padding: 10px 15px 10px 15px;
/*	height: 50px;*/

/*	display: inline-block;*/

}

#Test2 {

	background-color: #a6a6a6;
	border-radius: 10px;
	margin: 10px 20px 10px 20px;
	padding: 10px 15px 10px 15px;

}

#Test3 {

	background-image: url(assets/Background/FULL4.jpg);
	background-attachment: fixed;
	background-position: center;
	border-radius: 10px;
	margin: 10px -10px 10px -10px;
	padding: 10px 10px 10px 10px;
	height: 500px;

}

#Test4 {

	background-color: #d9d9d9;
	height: 50px;

}

#Test5{

	background-color: #a6a6a6;
	height: 50px;

}

#Test6 {

	background-color: #4d4d4d;
	height: 50px;

}

#A {

	font-size: 300px;
	text-align: center;
	color: White;
	font-family: harrington;
	margin: 0px -10px 0px -10px;
	padding: 0px 0px 0px 0px;
	height: 0px;

}

#Footer {

	background-color: #d9d9d9;
	height: 50px;

}