body {
    background-color: darkmagenta;
}


#header {
    font-family: Impact, Charcoal, sans-serif;
    color: white;
    background-color: black;
    opacity: .5;
    margin: 20px -10px 0 -10px;
    border: 1px solid orange;

}

#logo {
    border: 1px solid red;
    padding-left: 20px;
    font-size: 50px;
    display: inline;
}

#sign_up {
    margin-top: 100px;
}

.button {
    font-size: 200px;
    color: white;
    opacity: .5;
    border: 1px solid white;
    border-radius: 8px;
    display: inline;
    background-color: #666666;
    padding: auto 50px auto 50px;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
