<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sign_in.css') }}">
    <title>Sign Up</title>
</head>
<body>

    <div id="header">
        AP
    </div>

    <div id="body_container">

        <div>
            <h4>
                AWWWW,
            </h4>
            <p>so you want to sign up?</p>
        </div>
        <div id="form_div">
            <form action="sign_up" method="post">
                <fieldset>
                    <legend></legend>
                    Username:<br>
                    <input type="text" name="Username"><br>
                    Email Address:<br>
                    <input type="text" name="Email Address"><br>
                    Profile Picture: <br>
                    <input type="text" name="Profile Picture"><br>
                    <input type="submit" value="Submit"><br>
                </fieldset>
            </form>
        </div>
    </div>

</body>
</html>
