<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sign_in.css') }}">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')
    </script>

{#

NEW JQUERY:

#}
    <script>

        function submitLogin() {
        $.ajax({
            url:"script.php",
            type:'POST',
            dataType:"json",
            data: $("#the_form").serialize()
        }).done(function(data){
           console.log("Ran submitLogin function")
        });
}
        $(document).ready(function(){
            $("#subbut").click(function(){
                $.post("sign_up", $("#the_form").serialize(), function(data, status) {
                    console.log(data[0['username']]);
                    console.log(data);
                    console.log(status);
                    alert("POST Status:" + status)
                })
            });
        });

        $('#username').keypress(function(e) {
        if (e.which == '13') {
            submitLogin();
        }
});

    </script>


{# CURRENT JQUERY: #}
{#    <script>#}
{#                #}
{#        $(document).ready(function(){#}
{#            $("#subbut").click(function(){#}
{#                $.post("sign_up", $("#the_form").serialize(), function(data, status) {#}
{#                    console.log(data[0['username']]);#}
{#                    console.log(data);#}
{#                    console.log(status);#}
{#                    alert("POST Status:" + status)#}
{#                })#}
{#            });#}
{#        });#}
{##}
{#    </script>#}

</head>
<body>

    <div id="header">
        AP
    </div>

    <div id="header_container">
        <div>
            <h4>
                AWWWW,
            </h4>
            <p>so you want to sign up?</p>
        </div>
        <div id="form_div">
            <form action="sign_up" method="post" id="the_form">
                <fieldset>
                    <legend>form</legend>
                    Username:<br>
                    <input type="text" name="username" id="username"><br>
                    Email Address:<br>
                    <input type="text" name="emailAddress" id="email_address"><br>
                    <button type="button" id="subbut" value="Submit"> BUTTON </button><br>
                </fieldset>
            </form>

        </div>

        <div class="" id="password_div">
            <div class="password_Row_1">BUTTON1</div> <div class="password_Row_1">BUTTON2</div> <div class="password_Row_1">BUTTON3</div>
            <div></div>
            <div class="password_Row_2">BUTTON4</div> <div class="password_Row_2">BUTTON5</div> <div class="password_Row_2">BUTTON6</div>
            <div></div>
            <div class="password_Row_3">BUTTON7</div> <div class="password_Row_3">BUTTON8</div> <div class="password_Row_3">BUTTON9</div>

        </div>
    </div>

</body>
</html>
