<html>
    <body>
        <h1>BAHAAA</h1>
        <ul>
            <li>
                {{ dictionary["username"] }}
            </li>
            <li>
                {{ dictionary["pic"] }}
            </li>
            <li>
                {{ dictionary["hatesPuppies"] }}
            </li>
            <li>
                {{ dictionary["age"] }}
            </li>
        </ul>
    </body>
</html>


{## def user_joe():#}
{##     return {#}
{##         "username": "Joseph Johnson",#}
{##         "pic": "http://yahoo.com/jjtriplei.jpg",#}
{##         "hatesPuppies": True,#}
{##         "age": 123#}
{##     }#}